[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
neo4j = "*"
pyvis = "*"
networkx = "*"
pandas = "*"
plotly = "*"
plotly-express = "*"
matplotlib = "*"
mplcursors = "*"
streamlit-cytoscapejs = "*"
mpld3 = "*"

[dev-packages]

[requires]
python_version = "3.11"
